/*-- HTML5 Boilerplate. -----------------------------------------------------*/

@import "../../vendor/h5bp/css/normalize.css";
@import "../../vendor/h5bp/css/main.css";

/*-- Application stylesheets. -----------------------------------------------*/


/*!---- global stuff ----*/

@font-face {
	font-family: Roemisch;
	src: url("../../assets/fonts/roem.otf");
}
@font-face {
	font-family: Roemisch;
	font-weight: bold;
	src: url("../../assets/fonts/roemB.otf");
}
@font-face {
	font-family: Roemisch;
	font-style: italic;
	src: url("../../assets/fonts/roemI.otf");
}
@font-face {
	font-family: Roemisch;
	font-weight: bold;
	font-style: italic;
	src: url("../../assets/fonts/roemBI.otf");
}


html {
	background: url("../../assets/images/whitepaper_bw.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.loading {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.6);
	z-index: 9999;
}

.loading p {
	text-align: center;
	color: #fff;
	font: italic normal 18px/1.2em "Roemisch", "Times New Roman", serif;
	letter-spacing: 0.15em;
	width: 100%;
	height: 100%;
	padding-top: 300px;
}

.compass {
	position: absolute;
	width: 100%;
	text-align: center;
}

.nav {
	display: none;
}

.navlink {
	font: italic bold 18px "Roemisch", "Times New Roman", serif;
	letter-spacing: 0.2em;
	padding: .5em 2.5em;
}

a {
	color: #8A0808;
	text-decoration: none;
}
a:hover, .navlink.currpage {
	font-style: normal;
	font-weight: normal;
	color: black;
	background: rgba(0,0,0,0.1);
}

.copyright {
	display: none;
	position: fixed;
	width: 100%;
	bottom: 0;
	text-align: center;
	font: normal normal 11px/2em "Roemisch", "Times New Roman", serif;
	letter-spacing: .2em;
}

.copyright a {
	font-style: italic;
	font-weight: bold;
	padding: 0 .5em;
	margin: 0 -.5em;
	color: #8A0808;
}

/*!---- home stuff ----*/


.logo {
	position: absolute;
	width: 100%;
	bottom: 50%;
	text-align: center;
	display: none;
	font: normal normal 24px Helvetica;
	color: blue;
}

.homenav {
	top: 55%;
}

/*!---- default stuff ----*/

.defnav {
	top: 55%;
}

.saranwrap {
	display: none;
	position: absolute;
	top: 10%;
	left: 10%;
	min-height: 60%;
	margin-bottom: 100px;
	width: 80%;
	background: rgba(0,0,0,0.1);
}

.tinfoil {
	padding: 20px 100px 200px 100px;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.tinfoil img {
	float: left;
	margin: 20px;
}

.saranwrap p {
	font: normal normal 16px/1.2em "Roemisch", "Times New Roman", serif;
	letter-spacing: .1em;
}

/*!---- gallery stuff ----*/

.gallery {
	overflow: hidden;
}

.gthumb {
	border: 1px solid black;
	width: 100px;
	height: 100px;
	float: left;
	margin: 10px;
}

.gfill {
	cursor: pointer;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,0);
}

.gallery img {
	margin: 0;
}

/* this stuff is for the actual photo viewer */
.photobox {
	visibility: hidden;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(255,255,255,0.95);
	text-align: center;
	font: normal normal 14px/1.2em "Roemisch", "Times New Roman", serif;
	color: rgb(100, 100, 100);
	overflow: hidden;
}

.pbcontainer {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	
}

.primage, .crimage, .nximage {
	position: absolute;
}

.primage, .nximage {
	width: 30%;
	height: 100%;
	top: 0;
	font: italic bold 18px/1.2em "Roemisch", "Times New Roman", serif;
	cursor: pointer;
	
	-webkit-transition:background-color .3s ease-in-out;  
   	-moz-transition:background-color 	.3s ease-in-out;  
   	-o-transition:background-color		.3s ease-in-out;  
   	transition:background-color 		.3s ease-in-out;
}

.primage p, .nximage p {
	margin: 0px 50px;
	-webkit-transition:	color 		.3s ease-in-out;  
   	-moz-transition:	color 		.3s ease-in-out;  
   	-o-transition:		color		.3s ease-in-out;  
   	transition:			color 		.3s ease-in-out;
}

.primage:hover, .nximage:hover {
	background: rgba(0,0,0,0.6);
}

.primage:hover > p, .nximage:hover > p {
	color: white;
}


.primage {
	left: 0;
	text-align: left;
}

.crimage {
	top: 70px;
	width: 100%;
	height: 100%;
	z-index: -2;
	max-width: 500px;
	max-height: 500px;
	background: black;
}

.nximage {
	right: 0;
	text-align: right;
}

#caption {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	background: rgba(255,255,255,0.8);
/* 	text-align: center; */
	z-index: -1;
	padding-bottom: 30px;
}

#captiondesc, #captiontitle {
	color: black;
	max-width: 500px;
	margin: 0 auto;
}

#captiontitle {
	font: normal bold 24px/1.2em "Roemisch", "Times New Roman", serif;
	letter-spacing: .1em;
	padding: 10px 0;
}

#captiondesc {
	font: normal normal 18px/1.2em "Roemisch", "Times New Roman", serif;
	letter-spacing: .1em;
	text-align: left;
}


/*!---- contact stuff ----*/
.contact {
	width: 100%;
	margin-top: 50px;
	text-align: center;
}

.contact :focus {
	outline: none;
}

.contact p {
	margin-top: 30px;
	font: italic bold 12px/1.2em "Roemisch", "Times New Roman", serif;
	letter-spacing: .2em;
}

form.contact input, form.contact textarea {
	width: 280px;
	padding: .5em 10px;
	font: normal bold 11px/1.2em "Roemisch", "Times New Roman", serif;
	letter-spacing: .1em;
	background: rgba(0,0,0,0.1);
	border: 0px;
	box-sizing: inherit;
}

form.contact a {
	margin: 30px 0 50px 0;
	padding: 1em 2em;
}

form.contact input[type="submit"] {
	padding-top: 10px;
	padding-bottom: 10px;
	font: italic bold 12px/1.2em "Roemisch", "Times New Roman", serif;
	letter-spacing: .2em;
	margin: 30px 0 100px 0;
}

form.contact input[type="submit"]:hover, form.contact input:focus, form.contact textarea:focus {
	background: rgba(0,0,0,0.2);
}

form.contact textarea {
	
}

.contact.submitted p {
	margin-top: 150px;
}


/*!---- news stuff ----*/

.meal {
	background: rgba(0,0,0,0.1);
	padding: 20px;
	margin: 40px 0;
}

.meal h1 {
	text-align: center;
	font: normal bold 36px/0.1em "Roemisch", "Times New Roman", serif;
	letter-spacing: .07em;
}

.meal h2 {
	text-align: center;
	font: italic bold 13px "Roemisch", "Times New Roman", serif;
	letter-spacing: .1em;
}