<p>your name:</p>
<input type="text" name="the_name" id="name_input">
<p>your email address:</p>
<input type="email" name="the_email" id="email_input">
<p>subject:</p>
<input type="text" size="30" name="the_subject" id="subject_input">
<p>message:</p>
<textarea name="the_message" id="message_input" cols="30" rows="10"></textarea></br>
<input type="submit" class="sendbutton" id="contactsend" value="~ send ~">
<script type="text/javascript" src="/katiehenry/vendor/js/plugins/jquery-color.js"></script>